In [41]:
import pandas as pd

df = pd.read_csv("data/library_checkouts_all_branches_jul_2023.csv")

df[["checkout_library", "author", "item_type", "language", "age"]].head()

  checkout_library             author  item_type language       age
0              BSQ      Cano, Carles,  LOTE-BOOK  SPANISH  JUVENILE
1              BSQ      Cano, Carles,  LOTE-BOOK  SPANISH  JUVENILE
2              BSQ    Dupuis, Sylvia,  LOTE-BOOK  SPANISH  JUVENILE
3              BSQ  Maudet, Matthieu.  LOTE-BOOK  SPANISH  JUVENILE
4              BSQ  Foreman, Michael,  LOTE-BOOK  SPANISH  JUVENILE

In [42]:
print("\nQuick stats\n")

print("Number of checkouts:", df.shape[0])

df_language = (df[["language"]].loc[~df.language.isnull()]
                               .drop_duplicates())

print("Number of languages:", df_language.shape[0])

df_pop = (df[["age", "item_id"]].groupby(by=["age"])
                                .count()
                                .rename(columns={"item_id": "count"})
                                .sort_values("count", ascending=False))

print("\nPopularity by age:")
df_pop.head()

Quick stats

Number of checkouts: 50487
Number of languages: 31

Popularity by age:

                  count
age
JUVENILE          24740
ADULT             24477
YA                 1260
POLICY NOT FOUND     10